@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - whale-spotting</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="header">
        <nav class="nav-bar ">
            <a class="nav-link" href="~/">Home</a>
            <div class="fixed-nav-links">
                @{
                    var result = Engine.FindView(ViewContext, "_LoginPartial", isMainPage: false);
                }
                @if (result.Success)
                {
                    await Html.RenderPartialAsync("_LoginPartial");
                }
                else
                {
                    throw new InvalidOperationException("The default Identity UI layout requires a partial view '_LoginPartial' " +
                        "usually located at '/Pages/_LoginPartial' or at '/Views/Shared/_LoginPartial' to work. Based on your configuration " +
                        $"we have looked at it in the following locations: {System.Environment.NewLine}{string.Join(System.Environment.NewLine, result.SearchedLocations)}.");
                }
            </div>
        </nav>
    </header>

    <img class="banner-image" src="https://ssl.tzoo-img.com/images/tzoo.1.0.685904.shutterstock_567677317.jpg" alt="whale" />

    <div class="body-container">
        <main role="main" class="form-container">
            @RenderBody()
        </main>
    </div>
    <footer class="footer">
        <div class="footer-logo-container">
            <a class="link whale-link" href="https://whalemuseum.org/">
                <img class="logo"
                     data-testid="whale-museum-logo"
                     src="https://cdn.shopify.com/s/files/1/0249/1083/t/3/assets/wm-logo-sm.png"
                     alt="The Whale Museum logo" />
            </a>
            <a class="link" href="https://www.techswitch.co.uk/">
                Made By:
                <img class="logo techswitch-logo"
                     data-testid="techswitch-logo"
                     src="https://www.techswitch.co.uk/images/logo.svg"
                     alt="TechSwitch logo" />
            </a>
        </div>
    </footer>
    <script src="~/Identity/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Identity/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Identity/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
