@import "./Constants.scss";

@mixin button($color: $primaryDark) {
    background-color: $color;
    color: $textOnPrimary;
    border-radius: 10px;
    border: 0;
    height: 50px;
    margin: 5px;
    width: 70%;

    &:hover
    {
        background-color: $primaryColour;
        color: $textOnPrimary;
    }
}

.primary-button{
    @include button();
}

.secondary-button{
    @include button($primaryLight);
}

.reject-button {
    @include button($rejectButton);
}

.minWidth25{
    width: 25%;
}

.link {
    text-decoration: none;
    text-align: center;
    padding: 15px 0px;
    height: unset;
}

@media (max-width: $mobileScreenSize) {
    
    .minWidth25{
        width: 40%;
    }
}