@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap%27');

$primaryColour: #0072B5;
$primaryDark:  #004785;
$primaryLight: #56A0E8;
$primaryCard: #CDE9FF;
$secondaryLight: #FFFFFF;
$secondaryDark: #9BB7CC;
$textOnPrimary: #FFFFFF;
$textOnSecondary: #000000;
$rejectButton: #F24726;

$fontFamily: 'IBM Plex Sans', monospace;
$titleFontSize: 2rem;
$subtitleFontSize: 1.5rem;
$bodyFontSize: 1rem;
$mobileTitleFontSize: 1.5rem;
$mobileSubtitleFontSize: 1.25rem;
$mobileBodyFontSize: 0.875rem;
$smallMobileTitleFontSize: 1.125rem;
$smallMobileSubtitleFontSize: 0.875rem;
$smallMobileBodyFontSize: 0.625rem;
$mobileFeatureFontSize: 2.25rem;
$featureFontSize: 3.5rem;

$titleLineHeight: 40px;
$subtitleLineHeight: 32px;
$bodyLineHeight: 24px;
$mobileTitleLineHeight: 32px;
$mobileSubtitleLineHeight: 24px;
$mobileBodyLineHeight: 20px;

$bodyWidth: 1024px;

$guttersTopBottom: 15px;
$guttersSide: 20px;

$minMobileScreenSize: 320px;
$mobileScreenSize: 445px;   

$headerHeight: 40px;
$footerHeight: 6vh;
$mobileFooterHeight: 10vh;
$mobileHeaderHeight: 10vh;
