@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap%27');

$primaryColour: #0072B5;
$primaryDark:  #004785;
$primaryLight: #56A0E8;
$primaryCard: #CDE9FF;
$secondaryLight: #FFFFFF;
$secondaryDark: #9BB7CC;
$textOnPrimary: #FFFFFF;
$textOnSecondary: #000000;
$rejectButton: #F24726;

$fontFamily: 'IBM Plex Sans', monospace;
$titleFontSize: 32px;
$subtitleFontSize: 24px;
$bodyFontSize: 16px;
$mobileTitleFontSize: 24px;
$mobileSubtitleFontSize: 20px;
$mobileBodyFontSize: 14px;
$smallMobileTitleFontSize: 18px;
$smallMobileSubtitleFontSize: 14px;
$smallMobileBodyFontSize: 10px;
$mobileFeatureFontSize: 36px;
$featureFontSize: 56px;

$titleLineHeight: 40px;
$subtitleLineHeight: 32px;
$bodyLineHeight: 24px;
$mobileTitleLineHeight: 32px;
$mobileSubtitleLineHeight: 24px;
$mobileBodyLineHeight: 20px;

$bodyWidth: 1024px;

$guttersTopBottom: 15px;
$guttersSide: 20px;

$minMobileScreenSize: 320px;
$mobileScreenSize: 445px;   

$headerHeight: 6vh;
$footerHeight: 6vh;
$mobileFooterHeight: 10vh;
$mobileHeaderHeight: 10vh;
