@import "./Constants.scss";

.home {
    padding-bottom: $footerHeight;
    margin-top: $headerHeight;

    .home-contents {
        display: flex;
        flex-direction: column;
        margin: auto;
        max-width: $bodyWidth;
        margin-bottom: $guttersTopBottom;
        padding: 4% 5%;
    }

    .report-button-container {
        display: flex;
        justify-content: center;
        margin: 20px;
    }

    .sightings-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    @media (max-width: $mobileScreenSize) {

        .report-button-container {
            margin: 5px 0;

            .report-button {
                width: 100%;
            }
        }
    }
}