@import "./Constants.scss";

.map-component {
    padding-bottom: $footerHeight;
    margin-top: $headerHeight;
    //display: flex;
    //justify-content: center;
    //flex-direction: column;
    font-family: $fontFamily;
    height: 100vh;
}

.map-container {
    background-color: #98d5f5;
}

.map {
    width: 100%;
}

@media (min-width: 2559px) {

    .map-component {

        display: flex;
        justify-content: center;
    }
}