@import "./Constants.scss";

.map-component {
    padding-bottom: $footerHeight;
    margin-top: $headerHeight;
    //display: flex;
    //justify-content: center;
    //flex-direction: column;
    font-family: $fontFamily;
    height: 100%;
    overflow: hidden;
}

.map-container {
    background-color: #98d5f5;
}

.map {
    overflow: hidden;
    width: 2048px;
}

@media (min-width: 2559px) {

    .map-component {

        // .map {
        //     width: 2560px;
        // }
        
        display: flex;
        justify-content: center;
    }
}