@import './constants.scss';

.header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: $primaryColour;
    display: flex;
    justify-content: center;
    align-items: center;
    height: $headerHeight;
    z-index: 10;
}

.nav-bar {
    display: flex;
    width: 100%;
    max-width: 1024px;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-link {
    margin: 0% 5%;
    padding: 3%;
    white-space: nowrap;
    color: white;
    border-radius: 5px;
    text-decoration: none;  
    font-size: calc(10px + 1vmin);  

    &.selected, &:hover {
        background-color: $primaryDark;
        text-decoration: none;
        color: white;
        border-radius: 5px; 
    }
}

.dontdisplay {
    display: none;
}

.fixed-nav-links {
    justify-self: flex-start;
}

.changing-nav-links {
   justify-self: flex-end;
   margin-right: 5%;
}
