@import './Constants.scss';

.body {
    max-width: $bodyWidth;
    font-family: $fontFamily;
    display: flex;
    margin: $headerHeight auto $footerHeight auto;
}

.profile-pane {
    min-height: calc(100vh - #{$footerHeight} - #{$headerHeight});
    width: 250px;
    background-color: $secondaryDark;
}

.feed {
    padding: $guttersTopBottom $guttersSide;
    flex: 1;
}

.outer-container {
    padding-top: $guttersTopBottom;
    width: 90%;
    flex-direction: column;
    display: flex;
    margin: 0 auto;
}

.little-text {
    margin: 0;

    &.reported {
        margin-left: 10px;
    }
}

.feature-text {
    font-size: $featureFontSize;
    margin: 0;
}

.heading {
    margin: 0;
    text-align: center;
}
.username {
    font-size: $mobileTitleFontSize;
    margin: 0;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
    align-items: center;
}

.trophy-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.trophy-image {
    width: 70px;
    height: 70px;
    margin-left: 10px;
    border-radius: 50%;
}

.profile-image {
    width: 100%;
    height: auto;
    margin-top: 5px;
    border-radius: 5%;
}

 .inner-container {
     text-align: center;
 }

@media (max-width: 900px) {
    .feed {

        .closed {
            display: none;
        }
    }
}

@media(max-width: 700px) {
    .body {
        flex-direction: column;
        margin: $mobileHeaderHeight auto $mobileFooterHeight auto;
    }

    .profile-pane {
        width: 100vw;
        min-height: 290px;
    }

    .little-text {
        font-size: $smallMobileBodyFontSize;

        &.reported {
            margin-left: 5px;
        }
    }

    .feature-text {
        font-size: $mobileFeatureFontSize;
    }

    .heading {
        font-size: $mobileTitleFontSize;
    }

    .outer-container {
        flex-direction: row;
        padding: 3px 0;
    }

    .inner-container {
        width: 50%;
    }

    .button-container {
        width: 50%;
    }

    .profile-image {
        width: 170px;
    }
}

@media(max-width: $mobileScreenSize) {

    .heading {
        font-size: $mobileTitleFontSize;
    }

}

@media(max-width: 335px) {
    .button-container {
        width: 40%;
    }

    .inner-container {
        width: 60%;
    }
}
