@import "./Constants.scss";

.weather-component {
    border-radius: 10px;
    background-color: $primaryCard;
    margin-bottom: $guttersTopBottom;
    text-align: center;

    .sighting-info {
        display: flex;
        padding: 10px 2%;
        text-align: left;
    }

    .list {
        list-style-type: none;
        padding: 0;
    }

    .weather-info {
        width: 40%;
    }

    .species {
        width: 40%;
    }

    .whale-image-container {
        width: 20%;
    }

    .whale-image {
        width: 80%;
    }

    .whale-image-container-single {
        width: 100%;
    }

    .all-pictures {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: -10px;
    }

    .hidden {
        display: none;
    }
}

@media (max-width: $mobileScreenSize) {

    .weather-component {
        .sighting-info{
            display: block;
        }

        .weather-info {
            width: 100%;
        }

        .species {
            width: 100%;
        }

        .all-pictures {
            display: block;
        }

        .whale-image-container {
            width: 100%;
        }

        .closed{
            display: none;
        }
    }
}
